<!-- blog/templates/blog/home.html -->

{% extends "blog/base.html" %}

<main id="main-content">
  {% block main %}
  <section class="latest-article-preview">

    {% for post in latest_posts %}
    <article>
    <h3>{{ post.title }}</h3>
    <em>{{ post.published|timesince }} ago</em>
    {{ post.content|linebreaks }}
    </article>
    {% endfor %}

  </section>
  <aside id="sidebar">
    <section id="author-list">
      <h3>Authors</h3>
        <ul>
          {% for author in authors %}
            <li>{{ author.get_full_name }}</li>
          {% endfor %}
        </ul>
    </section>
  </aside>

  {% endblock %}

</main>
