{# blog/templates/blog/post_detail.html #}

{% extends "blog/base.html" %}

{% block page_title %}{{ post.title }}{% endblock %}

{% load static %}

{% block main %}
<article id="post-detail-article">
  <h1>{{ post.title }}</h1>
  <span class="published">Published <time>{{ post.published }}</time></span><br>
  <span class="author">{{ post.author.get_full_name }}</span><br>

  {% if post.banner %}
    <img src="{{ post.banner.url }}" width="100%" alt="Banner image"><br>
  {% endif %}

  <span class="links">
    {% for topic in object.topics.all %}
      <a href="{% url 'topic-detail' topic.slug %}">{{ topic.name }}</a>
    {% endfor %}
  </span>

  <section class="content">{{ post.content|safe|linebreaks }}</section>

  <section class="comments">
    {% if comments %}
      <h3>Latest comments</h3>
      {% for comment in comments %}
        <div class="comment">
          <span class="by-line">By {{ comment.name }} | <time>{{ comment.created }}</time></span>
          {{ comment.text|linebreaks }}
        </div>
        <div class="likes">
          <a href="{% url 'api:comment-like' comment.id %}"><img src="{% static 'blog/thumbsup.png' %}" alt="Like" onclick="likeHandler(this)"></a> {{ comment.likes }}
<!--          <img src="{% static 'blog/thumbsup.png' %}" alt="Like" class="like"> {{ comment.likes }}-->
          <a href="{% url 'api:comment-dislike' comment.id %}"><img src="{% static 'blog/thumbsdown.png' %}" alt="Dislike" onclick="likeHandler(this)"></a> {{ comment.dislikes }}
        </div>
      {% endfor %}
    {% endif %}

    <hr>

    <h3>Leave a comment</h3>
    {# Alias the variable for the included template #}
    {% with form=comment_form %}
      {% include "blog/comment_form.html" %}
    {% endwith %}
  </section>

</article>
{% endblock %}